[Unit]
Description=IMAP mailbox watcher
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/idlewatch
Restart=always

[Install]
WantedBy=default.target
